@charset "UTF-8";
@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 700; /* Соответствует значению bold */
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-weight: 300;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf");
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #CACACA;
  background-color: #08020D;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

header {
  width: 100%;
  position: absolute;
  top: 25px;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.background-img {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

/* Заголовки для десктопа */
h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

.uppercase {
  text-transform: uppercase;
}

.news-body h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
}

.d-flex {
  display: flex;
}

.title-name {
  font-size: 11px;
  text-transform: uppercase;
}

li a {
  text-decoration: none;
  color: white;
}

.logo-title {
  display: flex;
  align-items: center;
}

.nav ul {
  text-transform: uppercase;
  list-style: none;
  gap: 24px;
  color: white;
  padding: 0;
  margin: 0;
}

.nav {
  align-items: center;
  font-size: 11px;
  margin-left: 90px;
}

.logo {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.nav-form {
  margin-left: auto;
}

.input-group input {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13.3px;
  width: 248px;
  height: 25px;
  border: 0;
  border-radius: 50px;
  background-color: #3C3B3D;
  color: #757575;
  padding-left: 10px;
}

.margin-0 {
  margin: 0;
}

.first-section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.section-description {
  margin-top: 31px;
}

.form {
  max-width: 570px;
  margin: 0 auto;
  margin-top: 17px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-inputs {
  gap: 24px;
  margin-bottom: 1.5rem;
}

.form-input {
  box-sizing: border-box;
  min-height: 50px;
  border: solid 2px #CACACA;
  border-radius: 3px;
  padding: 0;
  padding-left: 20px;
  background-color: transparent;
  color: white;
  flex: 1;
}

.form-inputs input::placeholder {
  color: white;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: transparent;
}

.btn-green {
  font-size: 13.3px;
  background-color: #34C176;
  width: 100%;
  color: white;
}

.btn-sub {
  font-size: 16px;
  height: 66px;
  width: 100%;
  border-color: white;
}

.btn-album {
  padding: 16px 30px;
  border-color: white;
}

.btn-download {
  border-radius: 32px;
  padding: 16px 40px;
  font-size: 12.8;
  background-color: #95390C;
}

.padding-top-100 {
  padding-top: 100px;
}

.bg-free {
  background-image: url(../images/subscribe_1.png);
  background-size: cover;
}

.bg-standart {
  background-image: url(../images/subscribe_2.png);
  background-size: cover;
}

.bg-premium {
  background-image: url(../images/subscribe_3.png);
  background-size: cover;
}

.center {
  text-align: center;
}

.cards {
  justify-content: center;
  gap: 50px;
}

#page-pricing.container {
  padding-left: 20px;
  padding-right: 20px;
}

#page-news.container {
  padding-left: 20px;
  padding-right: 20px;
}

#page-app.container {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-top-65px {
  padding-top: 65px;
}

.pricing-item {
  box-sizing: border-box;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  flex: 1;
  border-radius: 1rem;
}

.pricing-value {
  font-size: 64px;
  line-height: 1em;
  padding-bottom: 25px;
}

p.pricing-value {
  margin: 0;
}

.subscription-info {
  padding-top: 40px;
}

.btn a {
  text-decoration: none;
  color: white;
}

.padding-bottom-200 {
  padding-bottom: 200px;
}

.pricing-footer {
  margin: 0;
  padding-top: 64px;
  padding-bottom: 64px;
  font-size: 12.8px;
}

.rub {
  display: inline-block;
  font-size: 32px;
  text-transform: uppercase;
  transform: translateY(-25%);
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.news-item {
  display: flex;
  gap: 50px;
}

.row-reverse {
  flex-direction: row-reverse;
}

.news-author-name {
  color: #F89202;
}

.news-footer {
  padding-top: 24px;
}

.btn-album {
  margin-top: 48px;
}

.logo-author {
  width: 19px;
  height: 19px;
}

.news-author {
  display: flex;
  gap: 16px;
  font-size: 12px;
}

.padding-bottom-48 {
  padding-bottom: 48px;
}

.news-item p {
  margin: 0;
}

.mobile-app {
  gap: 144px;
  padding-top: 64px;
}

.mobile-app-content p {
  margin-top: 0;
}

.mobile-app-content {
  flex-basis: 600px;
}

.img-phone {
  height: 278px;
  width: 333px;
  margin-top: -20px;
}

footer h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
}

.footer a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-top {
  padding-top: 3em;
  padding-bottom: 3em;
  display: flex;
  gap: 40px;
}

.footer-bottom {
  padding-top: 2rem;
  padding-bottom: 49px;
}

.footer li {
  list-style: none;
}

.footer ul {
  padding-left: 0;
}

.footer-bottom {
  text-align: center;
}

.footer-column {
  flex-basis: 270px;
}

.footer-bottom nav a {
  color: white;
  margin: 5px;
  text-decoration: none;
}

.footer-nav {
  text-align: left;
}

.footer-socials {
  margin-left: 3px;
  display: flex;
  gap: 24px;
}

/* Адаптация для мобильных устройств */
@media (max-width: 415px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
  }
  .first-section {
    width: 100%;
    padding-top: 247px;
  }
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .nav-list.d-flex {
    flex-direction: column;
    gap: 0;
  }
  .nav {
    margin-left: 0;
  }
  .nav-form {
    margin-left: 0;
    margin-top: 18px;
  }
  .header-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo-title {
    padding-bottom: 17px;
  }
  .section-description {
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .form-inputs.d-flex {
    flex-direction: column;
  }
  .cards.d-flex {
    flex-direction: column;
  }
  .news-item {
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }
  .mobile-app.d-flex {
    flex-direction: column-reverse;
    gap: 0;
  }
  .img-phone {
    margin: -17px auto 0 auto;
  }
  .mobile-app-content p {
    margin-top: 15px;
  }
  .mobile-app-content {
    flex-basis: 0;
  }
  .footer-top {
    flex-direction: column;
    gap: 0;
  }
  .footer-column {
    flex-basis: 0;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .pricing-item h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    padding-top: 16px;
    margin-top: 0;
  }
  .pricing-item .padding-bottom-200 {
    padding-bottom: 203px;
  }
  .news-body h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
  }
  .mobile-none {
    display: none;
  }
  .footer-bottom nav a {
    margin: 0px;
    margin-top: 15px;
  }
  .news-body .padding-bottom-30 {
    padding-bottom: 16px;
  }
  .subscription-info {
    padding-left: 0;
    padding-right: 0;
  }
  .buttons.d-flex {
    flex-direction: column;
  }
  #page-popular-track .track-columns {
    flex-direction: column;
    gap: 25px;
  }
  #page-popular-track .padding-left-20 {
    padding-left: 0px;
  }
  #page-popular-track .padding-right-35 {
    padding-right: 0px;
  }
  #page-discography .discography-item img {
    height: 137px;
    width: 137px;
  }
  #page-discography .discography-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/*                     ВТОРАЯ СЕКЦИЯ                                                                                     */
.background-img-artist {
  background-image: url("../images/Morten%20Harket.png");
  background-position: center;
  background-size: cover;
}

.pTB-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.purple {
  background-color: #5328A1;
}

.red {
  background-color: #95390C;
}

.btn-artist {
  display: flex;
  height: 62px;
  width: 200px;
  border: none;
  align-items: center;
  color: white;
}

.amount-fans {
  padding-bottom: 48px;
  padding-top: 15px;
}

.buttons {
  gap: 24px;
  padding-bottom: 25px;
}

svg {
  fill: white;
  height: 20px;
  width: 20px;
}

.btn-mix::before {
  content: url("../images/Group.png");
  display: inline-block;
  margin-right: 18px;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}

.btn-favorite::before {
  content: url("../images/Vector.png");
  display: inline-block;
  margin-right: 18px;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}

h3.track-name {
  font-size: 12.8px;
  font-weight: bold;
  line-height: 2;
}

.popular-track img {
  width: 55px;
  height: 55px;
  padding-right: 15px;
}

.popular-track {
  display: flex;
}

.track-artist, .track-time {
  font-size: 12.8px;
  font-weight: 400;
}

.track-time {
  color: #E0E0E0;
  align-self: center;
}

.track-columns {
  display: flex;
  gap: 50px;
}

.tracks-column {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1;
}

.track-info {
  flex: 1;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-right-35 {
  padding-right: 35px;
}

.discography-item img {
  height: 250px;
  width: 250px;
  padding-bottom: 18px;
}

h3.album-name {
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
}

.discography-items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 50px;
}

.year {
  color: #E0E0E0;
}

/*# sourceMappingURL=style.css.map */
