@use "variables";
@use "mixins";
.discography-item img {
  height: 250px;
  width: 250px;
}

h3.album-name {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
}

.discography-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px 50px;
}

.year {
  color: variables.$grey;
}

.discography-info {
  padding-top: 10px;
}

#page-similar .discography-info {
  text-align: center;
}

.popular-track:nth-child(1) {
  order: 1;
}

.popular-track:nth-child(2) {
  order: 3;
}

.popular-track:nth-child(3) {
  order: 5;
}

.popular-track:nth-child(4) {
  order: 2;
}

.popular-track:nth-child(5) {
  order: 4;
}

.popular-track:nth-child(6) {
  order: 6;
}

@include mixins.md {
  .discography-item img {
    height: 137px;
    width: 137px;
    padding-bottom: 10px;
  }

  .discography-item {
    width: 137px;
  }

  .discography-items {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0;
  }

  .discography-info {
    box-sizing: border-box;
    padding-top: 0;
  }
}