@use "variables";
@use "mixins";

footer h2 {
  font-weight: bold;

  @include mixins.font-rem(18, variables.$base)
}

.footer a {
  text-decoration: none;
  
  @include mixins.font-rem(16, variables.$base);
}

footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-top {
  padding-top: 3em;
  padding-bottom: 3em;
  display: flex;
  gap: 40px;
}

.footer-bottom {
  padding-top: 2rem;
  padding-bottom: 49px;
  text-align: center;
}

.footer li {
  list-style: none;
}

.footer ul {
  padding-left: 0;
}

.footer-column {
  flex-basis: 270px;
}

.footer-bottom nav a {
  color: white;
  margin: 5px;
  text-decoration: none;
}

.footer-nav {
  text-align: left;
}

.footer-socials {
  margin-left: 3px;
  display: flex;
  gap: 24px;
}

@include mixins.md {
  .footer-top {
    flex-direction: column;
    gap: 0;
  }

  .footer-column {
    flex-basis: 0;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .footer-bottom nav a {
    margin: 0;
    margin-top: 15px;
  }
}