@use "variables";

body {
  font-family: variables.$font-main;
  font-weight: variables.$font-main-regular;
  line-height: 1.5;
  color: variables.$dark-gray;
  background-color: variables.$black;
  margin: 0;
  padding: 0;
  font-size: 16px;

}

header {
  width: 100%;
  position: absolute;
  top: 25px;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.background-img {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;


}

/* Заголовки для десктопа */
h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}
h3{
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;

}
.uppercase{
  text-transform: uppercase;
}
.news-body h3{
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  
}
.d-flex {
  display: flex;
}

.title-name {
  font-size: 11px;
  text-transform: uppercase;
}

li a {
  text-decoration: none;
  color: white;
}

.nav ul {
  text-transform: uppercase;
  list-style: none;
  gap: 24px;
  color: white;
  padding: 0;
  margin: 0;
}

.nav {
  align-items: center;
  font-size: 11px;
  margin-left: 90px;
}

.logo {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.nav-form {
  margin-left: auto;
 

}

.input-group input {
  
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13.3px;
  width: 248px;
  height: 25px;
  border: 0;
  border-radius: 50px;
  background-color: variables.$dark;
  color: #757575;
  padding-left: 10px;

}


.margin-0{
  margin: 0;
}
.first-section{
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.section-description{
margin-top: 31px;
}
.form {
  max-width: 570px;
  margin: 0 auto;
  margin-top: 17px;
}

.form-inputs{
  gap: 24px;
  
}
.form-input{
  box-sizing: border-box;
  min-height: 50px;
  border: solid 2px variables.$dark-gray;
  border-radius: 3px;
  padding: 0;
  padding-left: 20px;
  background-color: transparent;
  color: white;
}
.form-inputs input::placeholder {
  color: white; 
}
.form-input-width-margin{
  min-width: 270px;
  margin-bottom: 1.5rem;
}

.btn{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: transparent;
  
  
}

.btn-green{
  font-size: 13.3px;
  background-color: variables.$green;
  width: 570px;
  color: white;
  
}
.btn-sub{
  font-size: 16px;
  height: 66px;
  width: 318.66px;
  border-color: white; 
}
.btn-album {
  padding:16px 30px ;
  border-color: white; 
}
.btn-download{
  border-radius: 32px;
  padding: 16px 40px;
  font-size: 12.8;
  background-color: variables.$red;
}
.padding-top-100{
  padding-top: 100px;
}
.bg-free{
  background-image: url(../images/subscribe_1.png);
  background-size: cover;
}
.bg-standart {
  background-image: url(../images/subscribe_2.png);
  background-size: cover;
}
.bg-premium {
  background-image: url(../images/subscribe_3.png);
  background-size: cover;
}
.center {
  text-align: center;
}
.cards{
  justify-content: center;
gap: 50px;
}
#page-pricing.container{
  padding-left: 20px;
  padding-right: 20px;
}
#page-news.container{
  padding-left: 20px;
  padding-right: 20px;
}
#page-app.container{
  padding-left: 20px;
  padding-right: 20px;
}
.padding-top-65px{
  padding-top: 65px;
}
.pricing-item{
  box-sizing: border-box;
  padding-left:1.5rem ;
  padding-right: 1.5rem;
  height: 615px;
  width: 368px;
  border-radius: 1rem;
}
.pricing-value{
  font-size: 64px;
  line-height: 1em;
  padding-bottom: 25px;
}
p.pricing-value{
  margin: 0;
}
.subscription-info{
  padding-top: 40px;
}
.btn a{
  text-decoration: none;
  color: white;
}
.padding-bottom-200{
  padding-bottom:200px;
}
.pricing-footer{
  margin: 0;
  padding-top: 64px;
  font-size: 12.8px;
}
.rub{
  display: inline-block;
  font-size: 32px;
  text-transform: uppercase;
  transform: translateY(-25%)
}
.margin-bottom-0{
  margin-bottom: 0px;
}
.margin-bottom-100{
  margin-bottom: 100px;
}
.padding-bottom-50{
  padding-bottom: 50px;
}
.padding-bottom-30{
  padding-bottom: 30px;
}
.news-item{
  display: flex;
  gap: 50px;

}
.row-reverse{
  flex-direction: row-reverse;
}
.news-author-name{
  color: variables.$orange;
}
.news-footer{
  padding-top: 24px;

}
.btn-album{
  margin-top: 48px;
}
.logo-author {
  width: 19px;
  height: 19px;
}
.news-author{
  display: flex;
  gap: 16px;
  font-size: 12px;
}
.padding-bottom-48{
  padding-bottom: 48px;
}
.news-item p{
  margin: 0;
}
.mobile-app{
  gap: 144px;
  padding-top: 64px;
  

}
.mobile-app-content p{
  margin-top: 0;
}
.mobile-app-content{
  flex-basis: 600px;
}
.img-phone{
 
  height: 278px;
  width: 333px;
  margin-top: -20px;

}

footer h2 {
font-size: 18px;
line-height: 27px;
font-weight: bold;
}
.footer a{
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.footer-top {
  padding-top: 3em;
  padding-bottom: 3em;
  display: flex;
gap: 40px;
}
.footer-bottom{
  padding-top: 2rem;
  padding-bottom: 49px;
}
.footer li {
  list-style: none;
}
.footer ul {
padding-left: 0;
}
.footer-bottom {
  text-align: center;
}
.footer-column{
  flex-basis: 270px;
}
.footer-bottom nav a {
  color: white;
  margin: 5px;
  text-decoration: none;
 
}
.footer-nav{


  text-align: left;
}
.footer-socials {
  margin-left: 3px;
  display: flex;
  gap: 24px;
}
/* Адаптация для мобильных устройств */
@media (max-width: 414px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}
