@use "variables";

body {
  font-family: variables.$font-main;
  font-weight: variables.$font-main-regular;
  line-height: 1.5;
  color: variables.$dark-gray;
  background-color: variables.$black;
  margin: 0;
  padding: 0;
  font-size: 16px;

}

header {
  width: 100%;
  position: absolute;
  top: 25px;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.background-img {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  height: 100vh;

}

/* Заголовки для десктопа */
h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

.d-flex {
  display: flex;
}

.title-name {
  font-size: 11px;
  text-transform: uppercase;
}

li a {
  text-decoration: none;
  color: white;
}

nav ul {
  text-transform: uppercase;
  list-style: none;
  gap: 24px;
  color: white;
  padding: 0;
  margin: 0;
}

nav {
  align-items: center;
  font-size: 11px;
  margin-left: 90px;
}

.logo {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.nav-form {
  margin-left: 449px;
 

}

.input-group input {
  
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13.3px;
  width: 248px;
  height: 25px;
  border: 0;
  border-radius: 50px;
  background-color: variables.$dark;
  color: #757575;
  padding-left: 10px;

}


.margin-0{
  margin: 0;
}
.first-section{
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.section-description{
margin-top: 31px;
}
.form {
  max-width: 570px;
  margin: 0 auto;
  margin-top: 17px;
  
}
.form-inputs{
  gap: 24px;
  
}
.form-input{
 box-sizing: border-box;
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  border: solid 2px variables.$dark-gray;
  border-radius: 3px;
  padding: 0;
  padding-left: 20px;
  background-color: transparent;
  color: white;
}
.form-inputs input::placeholder {
  color: white; 
}


.btn-green{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13.3px;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: variables.$green;
  width: 570px;
  text-transform: uppercase;
  color: white;
  
}
/* Адаптация для мобильных устройств */
@media (max-width: 414px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}
