
body {
  font-family: $font-main;
  font-weight: $font-main-regular;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
  margin: 0;
  padding: 0;
}

/* Заголовки для десктопа */
h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Адаптация для мобильных устройств */
@media (max-width: 414px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}