@use "variables";
@use "mixins";

.nav ul {
  text-transform: uppercase;
  list-style: none;
  gap: 24px;
  color: white;
  padding: 0;
  margin: 0;
}

.nav {
  align-items: center;
  margin-left: 90px;
  
  @include mixins.font-rem(11, variables.$base);
}

.nav-form {
  margin-left: auto;
}

@include mixins.md {
  .nav-list.d-flex {
    flex-direction: column;
    gap: 0;
  }

  .nav {
    margin-left: 0;
  }

  .nav-form {
    margin-left: 0;
    margin-top: 18px;
  }
}