@use "variables";
@use "mixins";

.news-body h3 {
  font-size: 30px;
  font-weight: 400;
}

.news-item {
  display: flex;
  gap: 50px;
}

.news-author-name {
  color: variables.$orange;
}

.news-footer {
  padding-top: 24px;
}

.news-author {
  display: flex;
  gap: 16px;

  @include mixins.font-rem(12, variables.$base);
}

.news-item p {
  margin: 0;
}

.logo-author {
  width: 19px;
  height: 19px;
}

@include mixins.md {
  .news-item {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  .news-body h3 {
    font-weight: bold;
    
    @include mixins.font-rem(16, variables.$base);
  }

  .news-body .padding-bottom-30 {
    padding-bottom: 16px;
  }

}