@use "variables";
@use "mixins";
.pricing-item {
  box-sizing: border-box;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  flex: 1;
  border-radius: 1rem;
}

.pricing-value {
  font-size: 64px;
  line-height: 1em;
  padding-bottom: 25px;
}

p.pricing-value {
  margin: 0;
}

.pricing-footer {
  margin: 0;
  padding-top: 64px;
  padding-bottom: 64px;
  font-size: 12.8px;
}

.subscription-info {
  padding-top: 40px;
}

@include mixins.md {
  .pricing-item h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    padding-top: 16px;
    margin-top: 0;
  }

  .pricing-item .padding-bottom-200 {
    padding-bottom: 203px;
  }

  .subscription-info {
    padding-left: 0;
    padding-right: 0;
  }
}