@font-face {
  font-weight: 400;/* Соответствует значению normal */
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf");
  }
  
  @font-face {
  font-weight: 700;/* Соответствует значению bold */
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.ttf");
  }
  
  @font-face {
  font-weight: 300;
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.ttf");
  }
  
  
  $black: #08020d;
  $grey: #e0e0e0;
  $dark-gray: #cacaca;
  $dark: #3c3b3d;
  $green: #34c176;
  $orange: #f89202;
  $purple: #5328a1;
  $red: #95390c;
  $font-main: 'Roboto', sans-serif;
  $font-main-light: 300;
  $font-main-regular: 400;
  $font-main-bold: 700;
